@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

body {
  background: #0c0c0e;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Space Grotesk', 'Helvetica Neue', 'SimHei', 'STHeiti';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f3f3f3;
  position: relative;
}

#app {
  margin: 0 auto;
  width: 90%;
  max-width: 1800px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 15px;
  }

  #app {
    width: 100%;
  }
}